<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản Lý Lớp Học Phần</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
            <li class="breadcrumb-item active">Quản Lý Lớp Học Phần</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- JUST EDIT HERE! -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6 col-md-8 my-2">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add" (click)="openModalAdd()">Thêm lớp
                    học phần
                  </button>
                </div>
                <div class="col-sm-6 col-md-4 my-2">
                  <ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChange($event)">
                  </ng-select2>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable id="courseDatatable" class="table table-bordered table-striped"
                     [dtOptions]="dataTableOptions"
                     [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Mã môn học</th>
                  <th>Tên môn học</th>
                  <th>Nhóm môn học</th>
                  <th>Mã lớp</th>
                  <th>Giảng viên</th>
                  <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let courses of listCourses">
                  <td class="count"></td>
                  <td>{{courses.subjectCode}}</td>
                  <td>{{courses.subjectName}}</td>
                  <td>{{courses.subjectGroup}}</td>
                  <td>{{courses.classCode}}</td>
                  <td>{{courses.lecturerName}}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#modal-info"  id="{{courses.id}}"  (click)="OpenModalDetail($event)">
                      <i class="fas fa-eye" ></i> Chi tiết
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                            data-target="#modal-edit" name="{{courses.id}}" (click)="OpenEditCourses($event)">
                      <i class="fas fa-pencil-alt"></i> Sửa
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#modal-delete" name="{{courses.id}}" (click)="OpenModalDelete($event)">
                      <i class="fas fa-trash"></i> Xoá
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->

    <!-- Modal thêm lớp học phần -->

    <!-- /.modal -->

    <!-- Modal chi tiết lớp học phần -->
    <!-- /.modal -->

    <!-- Modal sửa lớp học phần -->
    <!-- /.modal -->

    <!-- Modal xoá lớp học phần -->
    <!-- /.modal -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
