
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Hệ Thống Trưng Bày Sản Phẩm Đồ Án Môn Học</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Home</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- JUST EDIT HERE! -->


    </div><!-- /.container-fluid -->

    <!-- Modal thông tin cá nhân -->
    <div class="modal fade" id="modal-profile">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h4 class="modal-title">Thông tin cá nhân</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group text-center">
              <div class="text-center mb-2">
                <img src="assets/admin-dashboard/dist/img/user2-160x160.jpg" class="user-image img-circle elevation-2"
                     alt="User Image">
              </div>
              <input type="file" accept="image/*">
              <hr>
            </div>
            <div class="form-group">
              <label for="usernameProfileModal">Tên tài khoản</label>
              <input type="text" id="usernameProfileModal" class="form-control" value="611209" readonly>
            </div>
            <div class="form-group">
              <label for="fullNameProfileModal">Họ tên</label>
              <input type="text" id="fullNameProfileModal" class="form-control" value="Nguyễn Tùng Bái">
            </div>
            <div class="form-group">
              <label for="birthDateProfileModal">Ngày sinh</label>
              <input id="birthDateProfileModal" type="text" class="form-control" data-inputmask-alias="datetime"
                     data-inputmask-inputformat="dd/mm/yyyy" data-mask placeholder="dd/mm/yyyy" value="12/01/1998">
            </div>
            <div class="form-group">
              <label for="genderProfileModal">Giới tính</label>
              <div class="form-inline" id="genderProfileModal">
                <div class="form-check mx-2">
                  <input class="form-check-input" type="radio" id="maleGender" name="genderProfile" checked>
                  <label for="maleGender" class="form-check-label">Nam</label>
                </div>
                <div class="form-check mx-2">
                  <input class="form-check-input" type="radio" id="femaleGender" name="genderProfile">
                  <label for="femaleGender" class="form-check-label">Nữ</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="emailProfileModal">Email</label>
              <input type="email" id="emailProfileModal" class="form-control" value="tungbai121@gmail.com">
            </div>
            <div class="form-group">
              <label for="phoneProfileModal">Số điện thoại</label>
              <input type="text" id="phoneProfileModal" class="form-control" data-inputmask='"mask": "9999999999"'
                     data-mask value="0359318946">
            </div>
            <div class="form-group">
              <label for="roleProfileModal">Quyền</label>
              <input type="text" id="roleProfileModal" class="form-control" value="Sinh viên" readonly>
            </div>
            <div class="form-group">
              <label for="addressProfileModal">Địa chỉ</label>
              <input type="text" id="addressProfileModal" class="form-control" value="K61CNPMP" readonly>
            </div>
            <div class="form-group">
              <label for="joinDateProfileModal">Ngày tham gia</label>
              <input type="text" id="joinDateProfileModal" class="form-control" value="20/05/2020" readonly>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary">Lưu</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal đổi mật khẩu -->
    <div class="modal fade" id="modal-password">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h4 class="modal-title">Đổi mật khẩu</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="currentPassword">Mật khẩu hiện tại</label>
              <input type="password" id="currentPassword" class="form-control">
            </div>
            <div class="form-group">
              <label for="newPassword">Mật khẩu mới</label>
              <input type="password" id="newPassword" class="form-control">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Xác nhận mật khẩu</label>
              <input type="password" id="confirmPassword" class="form-control">
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary">Lưu</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!--&lt;!&ndash;  home.html&ndash;&gt;-->
<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--&lt;!&ndash;  <script src="../plugins/jquery/jquery.min.js"></script>&ndash;&gt;-->
<!--<script src="../../../../assets/admin-dashboard/plugins/jquery/jquery.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap 4 &ndash;&gt;-->
<!--<script src="../../../../assets/admin-dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--&lt;!&ndash; overlayScrollbars &ndash;&gt;-->
<!--<script src="../../../../assets/admin-dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>-->
<!--&lt;!&ndash; InputMask &ndash;&gt;-->
<!--<script src="../../../../assets/admin-dashboard/plugins/moment/moment.min.js"></script>-->
<!--<script src="../../../../assets/admin-dashboard/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>-->
<!--&lt;!&ndash; AdminLTE App &ndash;&gt;-->
<!--<script src="../../../../assets/admin-dashboard/dist/js/adminlte.min.js"></script>-->
<!--&lt;!&ndash; AdminLTE for demo purposes &ndash;&gt;-->
<!--<script src="../../../../assets/admin-dashboard/dist/js/demo.js"></script>-->
<!--&lt;!&ndash; page script &ndash;&gt;-->

</body>
