<div class="modal-content">
  <div class="modal-header bg-success">
    <h4 class="modal-title">Thêm lớp học phần</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Mã môn học</label>
      <select class="form-control subject-code-select2" style="width: 100%;">
        <option></option>
        <option>PTH03115</option>
        <option>PTH02004</option>
        <option>TH01206</option>
        <option>TH02490</option>
        <option>PTH25112</option>
        <option>PTH46080</option>
      </select>
    </div>
    <div class="form-group">
      <label for="subjectNameAddModal">Tên môn học</label>
      <input type="text" class="form-control" id="subjectNameAddModal" readonly>
    </div>
    <div class="form-group">
      <label for="subjectGroupAddModal">Nhóm môn học</label>
      <input type="number" class="form-control" id="subjectGroupAddModal" placeholder="Nhập nhóm môn học"
             min="1">
    </div>
    <div class="form-group">
      <label>Mã lớp</label>
      <input type="text" class="form-control" id="classCodeAddModal" placeholder="Nhập mã lớp">
    </div>
    <div class="form-group">
      <label>Mã giảng viên</label>
      <select class="form-control lecturer-code-select2" style="width: 100%;">
        <option></option>
        <option>CNP02</option>
        <option>CNP03</option>
        <option>CNP04</option>
        <option>CNP07</option>
        <option>MTI05</option>
        <option>MTI10</option>
      </select>
    </div>
    <div class="form-group">
      <label for="lecturerNameAddModal">Tên giảng viên</label>
      <input type="text" class="form-control" id="lecturerNameAddModal" readonly>
    </div>
    <div class="form-group">
      <label>Học kỳ - năm học</label>
      <!--      <select class="form-control year-semester-select2" style="width: 100%;">-->
<!--        <option>Học kỳ 2 - Năm học 2019-2020</option>-->
<!--        <option>Học kỳ 1 - Năm học 2019-2020</option>-->
<!--      </select>-->
      
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="button" class="btn btn-primary">Thêm</button>
  </div>
</div>
