<div class="modal fade" id="modal-add-category">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Thêm thể loại</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="categoryCodeAddModal">Mã thể loại</label>
          <input type="text" class="form-control" id="categoryCodeAddModal" placeholder="Nhập mã thể loại">
        </div>
        <div class="form-group">
          <label for="categoryNameAddModal">Tên thể loại</label>
          <input type="text" class="form-control" id="categoryNameAddModal" placeholder="Nhập tên thể loại">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Thêm</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
